body{
    margin: 0;
    padding: 0;
}
/*Contact section*/
.contact__container{
    background: #eee;
    padding: 0px 0px;
}
.contact__wrapper{
    display: flex;
    padding-top: 20px;
}
.stroke{
    padding: 0px 40px;
}
/*navbar section*/
.navbar__logo{
    width: 150px;
}
.navbar__container{
    z-index: 9999;
    width: 100%;
    background: #fff!important;
}
.navbar__wrapper{
    margin: 20px 0px;
    background: #fff!important;
}
.nav-item{
    padding: 0px 10px;
}
.nav-link{
    color: #123123;
    font-weight: 500;
    font-size: 16px;
}
.nav-link:hover{
    color: #4BAF33!important;
}
.nav-btn{
    color: #123123;
    background: #fff;
    border: 2px solid #4BAF33;
    border-radius: 18px;
    padding: 10px 30px;
    font-weight: 500;
    transition: all ease 0.3s;
}
.nav-btn:hover{
    background: #4BAF33;
    color: #fff;
    transition: all ease 0.3s;
}
.highlight{
    border-bottom: 5px solid #4BAF33;
}
/*Showcase section*/
.showcase__container{
    background: url(/images/initsvack2.jpeg);
    height: 500px;
    background-size: cover;
    background-position: center;
}
.showcase__wrapper{
    color: #fff;
    padding-top: 240px;
}
.showcase__paragraph{
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
    margin: 0px;
}
.showcase__paragraph2{
    width: 60%;
    font-size: 18px;
}
.aboutus{
    display: flex;
}
.about__us{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
}
@media screen and (max-width:768px) {
    .showcase__heading{
        font-size: 24px;
    }

    .services__heading{
        font-size: 24px;
        text-align: center;
    }
    .about__us{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 1px;
        font-weight: 300;
    }
}

/*Our services section*/
.services__container{
    margin: 100px 0px;
}
.services__heading{
    text-align: center;
}
.services__paragraph{
    text-align: center;
    font-size: 18px;
    width: 70%;
    margin: auto;
}

@media screen and (max-width:768px) {
    .services__paragraph{
        text-align: center;
        font-size: 16px;
        width: 80%;
        margin: auto;
    }
    .services__heading{
        font-size: 24px;
        text-align: center;
    }
}
/*Services CARDS*/

.service__card{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 1px solid #4BAF33;
    padding: 10%;
    text-align: center;
    margin: 50px auto;
}

.help__heading{
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-top: 80px;
    text-align: center;
    font-size: 36px;
}
.touch{
    display: flex;
    justify-content: center;
}
.touch__paragraph{
    margin-top: 20px;
    margin-left: 20px;
}
/*our services section(new arrangement)*/
section{
    padding: 80px;
}

.service__card .card-inn{
    margin: auto;
}


.service__card .card-title{
    display: block;
}

.service__card .card-body{
    display: none;
    padding: 0;
}

.service__card:hover .card-body{
    display: block;
}

.service__card:hover .card-title h1{
    font-size: 28px;
}


.service__card:hover .card-body .cta{
    margin: 20px 0 0 ;
}

.service__card:hover .card-body .cta a{
    color: #303030;
    font-size: 10px;
    letter-spacing: 1.4px;
    text-decoration: none;
} 

.service__card:hover .card-body .cta a span{
    display: block ;
}
@media screen and (max-width:768px) {
    section{
        padding: 80px;
    }
    
    .service__card{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 1px solid #4BAF33;
        padding: 5%;
        text-align: center;
        margin: 30px auto;
    }
    .service__card .card-inn{
        margin: auto;
    }
    
    
    .service__card .card-title {
        display: block;
    }
    .service__card .card-title h1{
        display: block;
        font-size: 12px!important;
    }
    
    
    .service__card .card-body{
        display: none;
        padding: 0;
    }
    
    .service__card:hover .card-body{
        display: block;
        font-size: 9px!important;
    }
    
    .service__card:hover .card-title h1{
        font-size: 24px;
    }
    
    
    .service__card:hover .card-body .cta{
        margin: 5px 0 0 ;
    }
    
    .service__card:hover .card-body .cta a{
        color: #303030;
        font-size: 10px;
        letter-spacing: 1.4px;
        text-decoration: none;
    } 
    
    .service__card:hover .card-body .cta a span{
        display: block ;
    }
}

/*Why choose us section*/
.choose__container{
    background: url(/images/cube__4.jpeg);
    background-position: center;
    background-size: cover;
    height: 500px;
    margin-bottom: 70px;
}
.choose__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    padding-top: 80px;
    color: #fff;
    width: 100%;
}
.wrap__oneb{
padding-top: 30px;
font-size: 16px;
font-weight: 500;
width: 80%;
}
.wrap__two{
    display: flex;
    padding-top: 30px;
    font-size: 18px;
    font-weight: 500;
}
.wrap__two p{
    padding-top: 16px;
    padding-left: 20px;
}
/*sub__choose__section*/
.sub__choose__card{
    background:#303030;
    border-radius: 4px;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding:20px 0px;
    width: 70%;
}
.sub__choose__wrapper{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 20px;
}
#sub__choose__image{
    width: 50px!important;

}
#sub__choose__image2{
    width: 30px!important;

}
.sub__choose__text{
    font-size: 12px;
    color: #909090;
}
@media screen and (max-width:768px){
    .choose__container{
        background: url(/images/cube__4.jpeg);
        background-position: center;
        background-size: cover;
        height: 800px;
        margin-bottom: 70px;
    }
    .choose__wrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        padding-top: 80px;
        color: #fff;
        width: 100%;
        margin: auto;
    }
    .sub__choose__wrapper{
        padding-top: 20px;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        gap: 20px;
    }
}

/*some works section*/
.some__works__wrapper{
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}
.some__works__paragraph{
    width: 70%;
    margin: auto;
    padding: 20px 0px;
    font-size: 18px;
    font-weight: 500;
}
/* owl=carousel for some works */
.someworks__image{
    width: 320px;
    height:320px
}
.arrows{
    text-align: center;
    margin: 40px 0px;
    padding: 0px 10px;
}
.arrow1{
    padding-right: 10px;
}

/* Clients we've worked with secton */
.clients__container{
    text-align: center;
    margin: 120px 0px;
}
.clients__container p{
    font-size: 18px;
    font-weight: 400;
    width: 45%;
    margin: auto;
}
/* 2nd owl-carousel */
.someworks__carousel{
    margin: 50px 0px;
}
.firstcarol{
    margin: 70px 0px!important;
}
.firstcard{
    max-width: 220px;
    margin: auto;
    height: 150px;
    padding: 40px;
    justify-content: center;
}

/*Footer section*/
.footer__container{
    margin-top: 150px;
    background: #eee;
    padding: 30px 0px;
}
.footercard{
    background: #eee;
}
.footerimage{
    max-width: 100%;
    margin: auto;
    height: auto; 
    padding: 35px;
    justify-content: center;
}
.footercard h5{
    padding-bottom: 20px;
}
.col h5{
    padding-bottom: 20px;
}
@media screen and(max-width:765px) {
   .col h5{
       font-size: 10px;
   }
   .footerimage img{
       width: 200px;
   }
}
/*footer2 image*/
.fixed-img{
    position: fixed;
    bottom: 0vh;
    z-index: 9999;
    right: 50px;
}

.fixed-img img{
    width: 150px;
}


/*CSS FOR ABOUT-US PAGE*/
.down-arrow video{
    width: 100%;
    height: auto;
}
.down-arrow p{
    position: absolute;
    color: #fff;
    top: 600px;
    left: 600px;
}
.down-arrow img{
    position: absolute;
    color: #fff;
    top: 700px;
    left: 700px;
}
/* OUR STORY */
.our-story {
    background: url(/images2/pttn-bg-grey.jpeg);
    width: 100%;
    text-align: center;
    padding: 40px 0px;
}
.our-story p{
    width: 60%;
    margin: auto;
}
.our-story p:nth-child(2){
    padding: 20px 0px;
}
.our-story p:nth-child(3){
    padding: 20px 0px;
}
/* OUR MISSION */
.mission{
    background: url(/images2/pttn-bg-dark.jpeg);
    width: 100%;
    height: 900px;
    padding: 80px 0px;
    justify-content: center;
}
.mission-image{
    width: 60px;
}
.card.mission{
    width: 100%!important;
    height: 350px;
    padding: 40px;
    justify-content: center;
    color: #fff;
    background:url(/images2/missioncard.jpeg);
    font-size: 22px;
    margin: 0px;
}
.card.mission2{
    height: 350px;
    background-size: cover;
    background-image: url(/images2/mrtunde.jpeg);
    background-position: center;
    background-size: cover;
    display: block;
}
.card.mission3{
    height: 350px;
    background-size: cover;
    background-image: url(/images2/mixGroup.jpeg);
    background-position: center;
    background-size: cover;
    display: block;
}

.card.mission4{
    width: 100% !important;
    height: 350px;
    padding: 40px;
    justify-content: center;
    color: #fff;
    background:url(/images2/missioncard2.jpeg);
    font-size: 22px;
}
.vision{
    margin-top: 20px;
}
.furthermore{
    background-image: url(/images2/pttn-bg-grey.jpeg);
    background-position: center;
    background-size: cover;
}
.further{
    margin: auto;
    padding: 80px 0px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    width: 70%;
}

/* INITS TEAM SECTION */
.team-info{
    margin: auto;
    padding: 60px 0px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    width: 80%;  
}
/* INITS TEAM PROFILES */
/* profile-front card */
.rt-1image{
    height: 120px;
    width: 120px;
    border: 1px solid blue;
    border-radius: 50%;
    margin: auto;
}
.card.profile-front{
    width: 350px; 
    height: 100%;
    text-align: center;
    padding: 40px 10px;
    font-size: 14px;
    font-weight: 300;
    box-shadow: rgba(170, 170, 170, 0.2) 0px 4px 24px;
    border: none;
}
.card-title.profile-name{
    color: #4BAF33;
    padding: 10px 0px;
}
.card-text.profile-role{
    padding: 10px 0px;
}
/* profile-back card */
.card.profile-back{
    /* width: 480px;
    height: 380px; */
    display: flex;
    flex-direction: row;
}
.card.profile-back{
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
    width: 45%;
    height: 100%;
    float: left;
    display: block;
}
.description{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}


ul.team{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.team li{
    list-style: none;
    margin: 20px;
    width: 360px;
    height: 400px;
}

.team li:hover {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: row;
}



.card.profile-front{
    display: block;
}

.card.profile-back{
    display: none;
}

.team li:hover .card.profile-front {
    display: none;
}

.team li:hover .card.profile-back{
    display: block;
    font-size: 16px;
    width: 100%;
    font-size: 16px;
}

.description .card-body{
    overflow-y: scroll;
}